<section>
    <header>
        <button class="btn btn-primary" (click)="changeComponentToRender(0)">Albums</button>
        <button class="btn btn-primary" (click)="changeComponentToRender(1)">Playlists</button>
    </header>

    <article>
        <ng-container *ngIf="componentIndexToRender === 0">
            <shared-card-albums class="animacion-zoom-in" [albums]="albums"></shared-card-albums>
        </ng-container>

        <ng-container *ngIf="componentIndexToRender === 1">
            <shared-card-playlists class="animacion-zoom-in" [playlists]="playlists"></shared-card-playlists>
        </ng-container>
    </article>
</section>