header {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    gap: 16px;
}

header button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

.animacion-zoom-in {
    animation: zoomIn 0.2s ease-in-out;
}

.button-pressed {
    background-color: rgb(0, 158, 0);
    border: 1px solid lightgray;
}

.button-non-pressed {
    background-color: green;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}