<main class="container-fluid">
    
    <div class="row d-flex justify-content-lg-start justify-content-center gap-lg-5 gap-md-4">
        
        <article *ngFor="let item of loadedAlbumCards" class="col-sm-6 col-md-3 col-lg-2 col-xl-2 cursor-pointer" [style]="item.css">
        
            <img class="card-img-top" [src]="item.img" alt="imagen-grupo"  [id]="item.img">
            
            <header class="card-body">
                <h5 class="card-title">{{item.titulo}}</h5>
            </header>

            <div class="card-body">
                <p class="card-text">{{item.grupo}}</p>
            </div>
            
            <footer class="card-footer d-flex justify-content-end">
                <button (click)="playAlbum()">
                    <i class="material-icons">play_arrow</i>
                </button>
            </footer>
            
        </article>
        
    </div>
    
    <h2 class="text-center mt-lg-3" (click)="loadAlbumCards(5)">- Cargar más -</h2>
</main>
