* {
    color: black;
    outline: 1px solid red;
}

section {
    width: 100%;
    height: 200px;

    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

section article {
    height: 100px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

section article div {
    display: flex;
    flex-wrap: wrap;
}

.custom-fixed-position {
    background-color: yellow;

    position: fixed;
    bottom: 0%;
    left: 0%;
}

.contenedor-dispositivos-reproduccion {
    display: flex;
    flex-direction: column;
}