article {
    width: 250px;
    height: 100px;

    padding: 8px;
    text-wrap: wrap;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

article div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

p {
    text-shadow: 0px 0px 5px black
}

.imagen-artista {
    padding: 8px;
    width: 80px;
}

.imagen-link-externo {
    width: 16px;
    opacity: 0.5;
}

.imagen-link-externo:hover {
    opacity: 0.8;
    scale: 1.1;
}