div {
    padding: 8px;

    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    text-wrap: wrap;

    display: flex;
    flex-direction: row;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

ul {
    list-style: none;
}

ul li span {
    font-size: 16px;
}

@media (min-width: 993px) {
    div {
        width: 300px;
        height: auto;
    }
}