div {
    min-width: 250px;
    max-width: 300px;
    padding: 8px;

    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    text-wrap: wrap;

    display: flex;
    flex-direction: row;
}

img {
    width: 80px;
}

ul {
    list-style: none;
}
