<section>
    <article class="container text-white py-3 d-flex justify-content-center gap-1">
        <!-- * ngModel=searchText asigna el valor del input al atributo de la clase -->
        <input 
            type="search" 
            name="buscador" 
            placeholder="¿Qué quieres escuchar?" 
            class="col-10 text-center music-input" 
            id="buscador-canciones-grupos"
            [(ngModel)]="searchText"
        >
        <button class="btn btn-success" (click)="searchContent()">Buscar</button>
    </article>
    
    <article class="text-white" *ngFor="let item of albumsInfoList; let index=index">
        <p class="d-flex justify-content-start gap-5">
            <span (click)=getItemInfoPage(index)>{{index}}</span>
            <span>{{item.name}}</span>
        </p>
    </article>
</section>