<!-- ! Cabecera para dispositivos lg y xl -->
<header class="container-fluid header-flex-space-between visualizar-xl-lg">
    <div class="header-flex-start-center">
        <button class="app-tittle" (click)="navigate('me/home')">{{ appName }}</button>
        <button class="my-btn btn" (click)="navigate('me/home')">Home</button>
        <button class="my-btn btn" (click)="navigate('me/my-playlists')">Playlists</button>
    </div>
    <button class="my-profile-btn" (click)="navigate('me/my-profile')">
        <b>{{myUserName}}</b>
        <img class="profile-img" [src]="myProfileImg" alt="profile-image">
    </button>
</header>


<!-- ! Cabecera para dispositivos md sm xs -->
<nav class="navbar navbar-expand-lg visualizar-md-sm">
    <section class="container-fluid">
        <button class="app-tittle">{{ appName }}</button>

        <button class="navbar-toggler invertir-color" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <article class="collapse navbar-collapse navbar-nav" id="navbarNavAltMarkup">
            <button class="btn my-btn nav-link" (click)="navigate('me/home')">Home</button>
            <button class="btn my-btn nav-link" (click)="navigate('me/my-playlists')">playlists</button>
            <button class="btn my-btn nav-link" (click)="navigate('me/my-profile')">Mi perfil</button>
        </article>
    </section>
</nav>