header,
nav {
    background-color: rgb(0, 161, 40);
}

.app-tittle {
    color: rgb(25, 255, 84);
    text-shadow: 3px 3px black;

    font-size: 2.5rem;

    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.app-tittle:hover {
    cursor: pointer;
}

.header-flex-start-center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.header-flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.invertir-color {
    filter: invert();
}

.my-btn {
    color: white;
}

.my-btn:hover {
    background-color: #20a000;
}

.my-btn:focus {
    color: white;
}

.sm-nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border: 2px solid rgb(32, 138, 59);
}

.profile-img {
    width: 48px;
    border-radius: 100%;
}

@media (min-width: 993px) {
    .visualizar-md-sm {
        display: none;
    }
}

@media (max-width: 993px) {
    .visualizar-xl-lg {
        display: none;
    }

    .pito {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}