<main>
    <h2>Tus playlists</h2>

    <section>
        <div>
            <article class="liked-songs">
                <!-- heart icon -->
                <div>&#10084;</div>
                <p>Tus canciones favoritas</p>
            </article>

            <article *ngFor="let item of userPlaylists$ | async">
                <img src={{item.imageUrl}} alt="imagen-playlist">
                <div>
                    <p>{{item.name}}</p>
                    <p>{{item.description}}</p>
                </div>
            </article>
        </div>
    </section>
</main>