<main class="container-fluid bg-black">
    <div class="row">
        <article class="col-lg-5 col-md-12 col-sm-12">
            <h1 class="app-title">{{ appName }}</h1>
            <h2 class="app-subtitle">Iván Gómez Calvo</h2>
        </article>
    
        <article class="col-lg-5 col-md-12 col-sm-12">
            <h1 class="login-title text-center">Tu música favorita usando Spotify</h1>
            <button class="btn" (click)="login()">Iniciar Sesión</button>
        </article>
    </div>
</main>
