main {
    min-height: 100vh;
    color: white;
    background: url("/assets/fondo-verde-y-negro.png") center/cover no-repeat;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-title {
    font-size: 10rem;
    color: rgb(25, 255, 84);
    text-shadow: 5px 5px black;

    padding: 1rem;
}

.app-subtitle {
    font-size: 32px;
    margin-top: 1rem;
    margin-left: 1rem;

    color: rgb(0, 226, 56);
}

button {
    width: 20rem;
    background-color: rgb(0, 178, 83);
    color: white;
}

button:hover {
    background-color: rgb(6, 205, 99);
    border: 1px solid lightgreen;
}

button:active {
    background-color: rgb(0, 255, 119);
}

@media (min-width: 993px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .app-subtitle {
        text-shadow: 3px 1px rgb(0, 152, 71);
    }
}

@media (max-width:993px) {
    main {
        background-position-x: 80%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    div {
        gap: 10vh;
    }

    button {
        background-color: rgb(0, 255, 64);
        color: rgb(0, 133, 33);
    }

    .app-title {
        color: rgb(25, 255, 84);
        font-size: 5.5rem;
        margin-top: 5rem;

        text-shadow: 2px 2px black;
    }

    .app-subtitle {
        color: rgb(0, 226, 56);
        font-size: 1rem;
        text-shadow: 1px 1px rgb(0, 152, 71);
    }

    .login-title {
        font-size: 1.5rem;

    }
}
