body {
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.contenedor-canciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.contenedor-canciones h1 {
    display: flex;
    justify-content: center;
}

.contenedor-canciones div {
    display: flex;
    flex-direction: row;
    gap: 16px;
}


.contenedor-artistas-playlist-albums {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.contenedor-artistas {
    padding: 16px;
    border: 1px solid rgba(128, 128, 128, 0.6);
}

.contenedor-playlist-albums {
    width: 40%;
    padding: 160px;
    border: 1px solid rgba(128, 128, 128, 0.6);
}
