<body>
    <shared-header></shared-header>

    <shared-buscador (clickBoton)="doSearchContentInSpotifyAPI()" [inputPlaceholderText]="itemSearchText">
    </shared-buscador>

    <main>
        <search-items-contenedor-canciones [tracks]="tracks">
        </search-items-contenedor-canciones>

        <section>
            <search-items-contenedor-artistas [artists]="artists">
            </search-items-contenedor-artistas>

            <search-items-contenedor-playlists-albums [albums]="albums" [playlists]="playlists">
            </search-items-contenedor-playlists-albums>
        </section>
    </main>

    <shared-footer></shared-footer>

    <shared-audio-reproducer-bar></shared-audio-reproducer-bar>
</body>