<body>
    <shared-header [buscadorComponentToRender]="true" (clickBoton)="doSearchContentInSpotifyAPI()"
        [inputPlaceholderText]="itemSearchText">
    </shared-header>

    <main>
        <search-items-contenedor-canciones [tracks]="tracks">
        </search-items-contenedor-canciones>

        <section>
            <search-items-contenedor-artistas [artists]="artists">
            </search-items-contenedor-artistas>

            <search-items-contenedor-playlists-albums [albums]="albums" [playlists]="playlists">
            </search-items-contenedor-playlists-albums>
        </section>
    </main>

    <shared-footer></shared-footer>
</body>