<section class="text-white my-lg-4">
    <h2>Tus artistas favoritos</h2>

    <main class="d-flex justify-content-center flex-wrap gap-lg-2 gap-1">
        <article class="d-flex flex-row justify-content-between" *ngFor="let item of artistCardInfo" [style]="item.css">

            <div class="contenedor-artista-texto">
                <img [src]="item.img" alt="imagen-artista" [id]="item.img">
                <h1>{{item.name}}</h1>
            </div>

            <img (click)="navigateToSpotifyWeb(item.spotify_url)" class="external-link-img"
                src="/assets/external-link.png" alt="">

        </article>

    </main>

    <h2 class="text-center cargar-mas" (click)="navigateToArtistsPage()">- Ver todos -</h2>
</section>