<main>
    <header>
        <h2>Tus artistas favoritos</h2>
        <h2 class="view-all-artists" (click)="navigateToArtistsPage()">Ver todos</h2>
    </header>

    <section>
        <article *ngFor="let item of artistCardInfo" [style]="item.css">
            <div class="contenedor-artista-texto">
                <img [src]="item.img" alt="imagen-artista" [id]="item.img">
                <h1>{{item.name}}</h1>
            </div>

            <img (click)="navigateToSpotifyWeb(item.spotify_url)" class="external-link-img"
                src="/assets/external-link.png" alt="">
        </article>
    </section>

    <h2 class="cargar-mas display-mobile-tablets" (click)="navigateToArtistsPage()">- Ver todos -</h2>
</main>