article {
    width: 30%;
    padding: 4px;

    border-radius: 5px;
    background-color: rgb(255, 255, 255);

    text-shadow: 1px 1px 3px rgb(29, 111, 29);
    color: white;
    transition: 0.2s;

    box-sizing: border-box;
    border: 1px solid lightgray;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article:hover {
    scale: 1.01;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
}

img {
    width: 100px;
    height: 100px;

    border-radius: 5px;
}

h1 {
    font-size: large;
    text-transform: capitalize;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
}

.view-all-artists {
    font-size: 14px;
    text-decoration: dashed;
}

.view-all-artists:hover {
    cursor: pointer;
}


.btn-reproducir-musica {
    width: 40px;
    height: 40px;

    border: none;
    background-color: greenyellow;
    color: black;

    border-radius: 100%;
}

.contenedor-artista-texto {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    gap: 16px;
}

.contenedor-artista-texto h1 {
    height: 100%;
    display: flex;
    align-items: center;
}


.cargar-mas {
    width: 30%;
    border: 1px solid rgba(211, 211, 211, 0.5);
    margin-top: 32px;
    text-align: center;
}

.cargar-mas:hover {
    cursor: pointer;
}

.external-link-img {
    width: 1rem;
    height: 1rem;

    border-radius: 0%;
    opacity: 0.5;
}

.external-link-img:hover {
    opacity: 1;
}

/* pc */
@media (min-width: 993px) {
    .display-mobile-tablets {
        display: none;
    }
}

/* tablets */
@media (max-width: 992px) {
    article {
        width: 49%;
        height: auto;
    }

    .cargar-mas {
        width: 100%;
    }

    .view-all-artists {
        display: none;
    }
}


/* moviles */
@media (max-width: 576px) {
    .external-link-img {
        width: 1rem;
        height: 1rem;

        border-radius: 0%;
        opacity: 0.5;
    }

    article {
        width: 100%;
        height: auto;
    }

    .cargar-mas {
        width: 100%;
    }

    .view-all-artists {
        display: none;
    }

}