<div class="bg-black">
    <shared-header></shared-header>

    <shared-buscador></shared-buscador>

    <main class="container-fluid">
        <home-user-top-artists></home-user-top-artists>
        <div class="row">
            <div class="col-lg-6">
                <home-user-playlists></home-user-playlists>
            </div>
            <div class="col-lg-6">
                <home-user-albums></home-user-albums>
            </div>
        </div>
    </main>

    <footer>
        <shared-footer></shared-footer>

        <shared-audio-reproducer-bar></shared-audio-reproducer-bar>
    </footer>
</div>