/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@import '~bootstrap/dist/css/bootstrap.css';

* {
    color: white;
}

html,
body {
    height: auto;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}